# virtual environment
venv
acgroup_venv

# IDEs
.idea
.vscode
temp_idea

# images
*.dot
*.png
*.svg
!example_images/*

# python
*.pyc

# temp
**/temp.py
**/temp_local_run.py

# graph instances
thesis_experiments/local_tests/**/*.json
thesis_experiments/local_tests/**/*.csv
thesis_experiments/local_tests/**/log.txt

# results
**/out/*.out

# plots 
thesis_experiments/saved_plots*

# log
*log.txt

# notes
notes.md